* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: justify;
}

body {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  text-align: left;
}

body h2 {
  text-align: center;
}

body p {
  margin-right: 1rem;
}

body iframe {
  text-align: center;
}

body .headGrid {
  height: 79.75px;
}

main .sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

main .text h2 {
  text-align: left;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pie .ctto {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.pie .ctto img {
  background-color: white;
  border-radius: 30px;
}

.pie .ctto a {
  text-decoration: none;
  color: white;
}

.pie .redes {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.pie .redes nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.pie .redes nav div {
  opacity: 0.7;
}

.pie .redes nav div:hover {
  opacity: 1;
  -webkit-transform: translateY(-10px) scale(1.1);
          transform: translateY(-10px) scale(1.1);
}

.integrantes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.integrantes .integrantes__integrante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.integrantes .integrantes__integrante .integrantes__integrante--descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.integrantes .integrantes__integrante .integrantes__integrante--descripcion h2 {
  text-align: left;
}

.integrantes .integrantes__integrante img {
  margin: 3px;
  opacity: 10%;
}

.integrantes .integrantes__integrante:hover img {
  opacity: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.integrantes .integrantes__integrante:hover .integrantes__integrante--descripcion {
  opacity: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.gridActuadores {
  display: -ms-grid;
  display: grid;
  margin-left: 2.5%;
  gap: 5px;
  height: auto;
  width: 95%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "val val val val 1 1 1"
 "val val val val var var var"
 "val val val val var var var"
 "val val val val var var var"
 "2 rec rec mot mot mot mot"
 "2 rec rec mot mot mot mot"
 "2 rec rec mot mot mot mot"
 "2 rec rec comp comp comp 3"
 "2 rec rec comp comp comp 3";
}

.gridActuadores h3 {
  color: black;
  background-color: rgba(255, 255, 255, 0.568);
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -15px;
}

.gridActuadores p {
  display: block;
  color: black;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  opacity: 0;
}

.gridActuadores .valvulas {
  border-radius: 10px;
  border: solid 2px black;
  opacity: 1;
}

.gridActuadores .valvulas h3 {
  opacity: 1;
}

.gridActuadores .valvulas:hover {
  opacity: 1;
  background-image: none;
  background-color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gridActuadores .valvulas:hover h3 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridActuadores .valvulas:hover p {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.gridActuadores .rectificadores {
  border-radius: 10px;
  border: solid 2px black;
  opacity: 1;
}

.gridActuadores .rectificadores h3 {
  opacity: 1;
}

.gridActuadores .rectificadores:hover {
  opacity: 1;
  background-image: none;
  background-color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gridActuadores .rectificadores:hover h3 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridActuadores .rectificadores:hover p {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.gridActuadores .varDF {
  border-radius: 10px;
  border: solid 2px black;
  opacity: 1;
}

.gridActuadores .varDF h3 {
  opacity: 1;
}

.gridActuadores .varDF:hover {
  opacity: 1;
  background-image: none;
  background-color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gridActuadores .varDF:hover h3 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridActuadores .varDF:hover p {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.gridActuadores .motElec {
  border-radius: 10px;
  border: solid 2px black;
  opacity: 1;
}

.gridActuadores .motElec h3 {
  opacity: 1;
}

.gridActuadores .motElec:hover {
  opacity: 1;
  background-image: none;
  background-color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gridActuadores .motElec:hover h3 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridActuadores .motElec:hover p {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.gridActuadores .compuertas {
  border-radius: 10px;
  border: solid 2px black;
  opacity: 1;
}

.gridActuadores .compuertas h3 {
  opacity: 1;
}

.gridActuadores .compuertas:hover {
  opacity: 1;
  background-image: none;
  background-color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gridActuadores .compuertas:hover h3 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridActuadores .compuertas:hover p {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.gridActuadores .valvulas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: val;
  height: auto;
  width: 75%;
  -ms-grid-column-align: center;
      justify-self: center;
  background-image: url("img/valvula.jpeg");
}

.gridActuadores .rectificadores {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: rec;
  height: 75%;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  background-image: url("img/rectificadores.jpg");
}

.gridActuadores .varDF {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: var;
  background-image: url("img/varDF.jpg");
}

.gridActuadores .motElec {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: mot;
  background-image: url("img/motElec.jpg");
}

.gridActuadores .compuertas {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: comp;
  background-image: url("img/compuertas.jpg");
}

@media only screen and (max-width: 768px) {
  main .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    justify-items: center;
  }
  section div {
    text-align: center;
  }
  iframe {
    width: 740px;
    height: 360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .vid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  main .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    justify-items: center;
  }
  iframe {
    width: 320px;
    height: 180px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .vid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  section img {
    width: 125px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
  }
  section div {
    text-align: center;
  }
  .integrantes .integrantes__integrante {
    display: unset;
    opacity: 1;
  }
  .integrantes .integrantes__integrante img {
    opacity: 1;
    float: left;
    padding-right: 7px;
  }
  .integrantes .integrantes__integrante .integrantes__integrante--descripcion {
    opacity: 1;
    display: unset;
    text-align: start;
  }
  .integrantes .integrantes__integrante .integrantes__integrante--descripcion h2 {
    font-size: 20px;
  }
  .gridActuadores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gridActuadores h3 {
    color: black;
    background-color: rgba(255, 255, 255, 0.568);
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: 0;
  }
  .gridActuadores p {
    display: block;
    color: #1d2731;
    text-align: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    margin-bottom: 30px;
    opacity: 0;
  }
  .gridActuadores .valvulas:hover {
    opacity: 1;
    background-image: none;
    background-color: whitesmoke;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: none;
            transform: none;
  }
  .gridActuadores .valvulas:hover h3 {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .gridActuadores .valvulas:hover p {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .gridActuadores .valvulas {
    height: auto;
    width: auto;
  }
  .gridActuadores .rectificadores {
    height: auto;
    width: auto;
  }
  .gridActuadores .rectificadores:hover {
    opacity: 1;
    background-image: none;
    background-color: whitesmoke;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: none;
            transform: none;
  }
  .gridActuadores .rectificadores:hover h3 {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .gridActuadores .rectificadores:hover p {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .gridActuadores .valvulas {
    height: auto;
    width: auto;
  }
  .gridActuadores .rectificadores {
    height: auto;
    width: auto;
  }
  .gridActuadores .varDF:hover {
    opacity: 1;
    background-image: none;
    background-color: whitesmoke;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: none;
            transform: none;
  }
  .gridActuadores .varDF:hover h3 {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .gridActuadores .varDF:hover p {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .gridActuadores .valvulas {
    height: auto;
    width: auto;
  }
  .gridActuadores .rectificadores {
    height: auto;
    width: auto;
  }
  .gridActuadores .motElec:hover {
    opacity: 1;
    background-image: none;
    background-color: whitesmoke;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: none;
            transform: none;
  }
  .gridActuadores .motElec:hover h3 {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .gridActuadores .motElec:hover p {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .gridActuadores .valvulas {
    height: auto;
    width: auto;
  }
  .gridActuadores .rectificadores {
    height: auto;
    width: auto;
  }
  .gridActuadores .compuertas:hover {
    opacity: 1;
    background-image: none;
    background-color: whitesmoke;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: none;
            transform: none;
  }
  .gridActuadores .compuertas:hover h3 {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .gridActuadores .compuertas:hover p {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .gridActuadores .valvulas {
    height: auto;
    width: auto;
  }
  .gridActuadores .rectificadores {
    height: auto;
    width: auto;
  }
  .carrusel {
    display: none;
  }
  .pie .redes {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .pie .redes nav {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .pie .redes nav div {
    opacity: 1;
  }
  .pie .redes nav div:hover {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=estilos.css.map */