@mixin sizes($width,$height){
    height: $height;
    width: $width;
}
.gridActuadores{
    display:grid;
    margin-left:2.5%;
    gap:5px;
    @include sizes(95%,auto);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "val val val val 1 1 1"
    "val val val val var var var"
    "val val val val var var var"
    "val val val val var var var"
    "2 rec rec mot mot mot mot"
    "2 rec rec mot mot mot mot"
    "2 rec rec mot mot mot mot"
    "2 rec rec comp comp comp 3"
    "2 rec rec comp comp comp 3"
    ;
    
    h3{
        color:black;
        background-color: rgba(255, 255, 255, 0.568);
        position: relative;
        text-align: center;
        top:50%;
        margin-top:-15px;
    }
    p{
        display:block;
        color:black;
        text-align: justify;
        align-items: center;
        margin: 10px;
        opacity: 0;
    }

    @each $act in valvulas,rectificadores,varDF,motElec,compuertas {
        .#{$act} {
            border-radius: 10px;
            border:solid 2px black;
            opacity: 1;
            h3{
                opacity: 1;
            }
            &:hover{
                opacity:1;
                h3{
                    opacity: 0;
                    transition: 0.3s;
                }
                p{
                    opacity: 1;
                    transition: 1s;
                }
                background-image: none;
                background-color: whitesmoke;
                transition:2s;
                transform: scale(1.05);
    
            }

    }
    }
    .valvulas{
        grid-area:val;
        @include sizes(75%,auto);
        justify-self: center;
        background-image: url("img/valvula.jpeg");
       

    }
    .rectificadores{
        grid-area:rec;
        @include sizes(90%,75%);
        align-self:center;
        justify-self: end;   
        background-image: url("img/rectificadores.jpg");     
    }
    .varDF{
        grid-area:var;
        background-image: url("img/varDF.jpg");        
    }
    .motElec{
        grid-area:mot;      
        background-image: url("img/motElec.jpg");  
    }
    .compuertas{
        grid-area:comp;
        background-image: url("img/compuertas.jpg");
    }
}
