@media only screen and (max-width: 768px) {     
    
    

    main{
        .sec{
            display:flex;
            flex-direction: column;
            gap:10px;
            justify-items: center;
        }
    }

    section{
        div{
            text-align: center;
        }
    }
        

    
   
    iframe{width: 740px;
            height: 360px;
            justify-content: center;
            align-content: center;

    }
    
    .vid{
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {     
    
    main{
        .sec{
        display:flex;
        flex-direction: column;
        gap:10px;
        justify-items: center;
        }
    }
    
    iframe{width: 320px;
        height: 180px;
        justify-content: center;
        align-content: center;

    }      
    .vid{
        justify-content: center;
        text-align: center;
    }

    
    
    
    
    section {
        img{
        width:125px;
        height: fit-content;
        opacity: 1;
        }
        div{
            text-align: center;
        }
    }

    .integrantes{
        .integrantes__integrante{
            display:unset;
            opacity: 1;
            img{
            opacity: 1;
            float: left;
            padding-right:7px;
            }
            .integrantes__integrante--descripcion{
            opacity: 1;
            display:unset;
            text-align: start;
                h2{
                font-size:20px;
                }
            }
        }
    }
    .gridActuadores{
        display:flex;
        flex-direction: column;
        h3{
            color:black;
            background-color: rgba(255, 255, 255, 0.568);
            position: relative;
            text-align: center;
            top:50%;
            margin-top:0;
        }
        p{
            display:block;
            color:$Cter;
            text-align: justify;
            align-items: center;
            margin: 10px;
            margin-bottom: 30px;
            opacity: 0;
        }
        @each $act in valvulas,rectificadores,varDF,motElec,compuertas {
            .#{$act} {
                &:hover{
                    opacity:1;
                    h3{
                        opacity: 0;
                        transition: 0.3s;
                    }
                    p{
                        opacity: 1;
                        transition: 1s;
                    }
                    background-image: none;
                    background-color: whitesmoke;
                    transition:2s;
                    transform:none;
        
                }
        }
        .valvulas{
            @include sizes(auto,auto);   
        }
        .rectificadores{
            @include sizes(auto,auto);       
        }
    } 
}

    .carrusel{
        display:none;
    }

    .pie{
        .redes{
            flex-basis: 50%;
            nav{
                opacity: 1;
                display: flex;
                justify-content: right;
                    div{
                        opacity: 1;
                    
                    &:hover{
                            opacity: 1;
                            transform: none;
                    }
                        
                    
                }
            }
    
        }
    }
    
        
    
}
