#tabcen{
    display:flex;
    align-content: center;
    justify-content: center;
    .tabla{
        border-style:none;
        border-spacing: 0;
        justify-content: center;
        #titulosDeTabla{
            color:$Cadc;
            font-weight: bold;
        }
        th{
            border:solid 1px $Cppal ;
            border-radius: 5px;
            padding: 10px 15px;
            text-align: center;
            background-color:$Csec;
        }
        td{
            border:solid 1px $Cppal ;
            border-radius: 5px;
            padding: 10px 15px;
            text-align: center;
            background-color:$Csec;
        }
        legend{
            font-weight: bold;
            font-size:xx-large;
        }
    }
}