/*Definicion de variables*/
$Cppal:#0b3c5d;
$Csec:#70a2bd;
$Cter:#1d2731;
$Cadc:#d9b310;

*{
    margin:1px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: justify;
} /*Seteos iniciales de sitio*/ 


body{
    color: white;
    display:flex;
    flex-direction: column;
    gap:3px;
    text-align: left;
    h2{
        text-align: center;
    }
    p{
        margin-right: 1rem;
    }
    iframe{
        text-align: center;
    }
    .headGrid{
        height: 79.75px;/*Seteos de alto de header para que la Navbar fixed no me tape el sitio*/ 
    }
}


@import "ppal";
@import "footer";
@import "integrantes";
@import "actuadores";
@import "mediaq";
