body{
    .carousel-caption {
        position: absolute; 
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        h5{
            color: #fff;
        }
        p{
            color: #fff;
        }
    }
}
