$Cppal:#0b3c5d;
$Csec:#70a2bd;
$Cter:#1d2731;
$Cadc:#d9b310;

*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: justify;
}


header{
    .navbar-brand{
        color:black;
    }
    .navbar-toggler-icon{
        color:black;
        text-align: center;
        align-items: center;
    }
    .dropdown{
        color:black;
        &:hover{
                color: $Cppal;
                .dropdown-menu{
                    background-color: black;
                    display: block;
                    margin-top: 0;
                    color:black;
                }
        }
    }
    .dropdown-toggle{
        color:black;
        &:hover{
                color: $Cppal;
        }
    } 
}





.carousel-caption {
    position: absolute; 
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}